$checkbox: (
    size: 18px,
    brd: map_get($input, brd),
    brd-hover: map_get($input, brd-hover),
    brd-active: map_get($input, brd-focus),
    bg: map_get($input, bg),
    bg-active: map_get($input, brd-focus),
    disabled: map_get($input, disabled),
    disabled-checked: rgba(black, .3)
);

.checkbox {
    position: relative;
    display: block;
    user-select: none;
    margin-bottom: 12px;

    &:last-child {
        margin-bottom: 0;
    }

    &__count {
        font-size: $fz-min;
        color: rgba(#000, .5);
    }
    
    &__input {
        display: none;

        & + .checkbox__text {
            display: inline-block;
            vertical-align: top;
            position: relative;
            cursor: pointer;
            padding: 0 0 0 map_get($checkbox, size) + 10;
            min-height: map_get($checkbox, size);
            font-weight: 300;
            font-size: 17px;
            line-height: 130%;
            color: #4a4a4a;

            &:before, &:after {
                content: '';
                display: block;
                position: absolute;
                left: 0;
                top: 2px;
                border-radius: 2px;
                font-size: map_get($checkbox, size);
                line-height: 1;
                width: map_get($checkbox, size);
                height: map_get($checkbox, size);
                transition: all $tr-time $tr-type;
                text-align: center;
                box-shadow: none;
            }

            &:before {
                border: 1px solid map_get($checkbox, brd);
                background: map_get($checkbox, bg);
            }

            &:after {
                content: '';
                background-color: map_get($checkbox, bg-active);
                color: map_get($checkbox, bg-active);
                visibility: hidden;
                opacity: 0;
                transform: scale(0, 0);
            }

            &:hover {
                &:before {
                    border-color: map_get($checkbox, brd-hover);
                }
                &:after{
                    color: map_get($link, color-hover);
                }
            }
        }

        & + .inner {

            &:before, &:after {
                content: '';
                display: block;
                position: absolute;
                z-index: 2;
                opacity: 0;
                transition: all $tr-time $tr-type;
                transform: scale(0.1);
            }

            &:before {
                background-color: $c-dark;
                width: 32px;
                height: 32px;
                border-radius: 50%;
                top: -10px;
                left: -5px;
            }

            &:after {
                mask-image: url("/local/templates/svet/assets/images/icons/check.svg");
                mask-repeat: no-repeat;
                mask-size: contain;
                mask-position: center;
                background-color: white;
                width: 24px;
                height: 24px;
                top: -7px;
                left: -2px;
            }
        }

        &:checked + .inner {

            &:before, &:after {
                opacity: 1;
                transform: scale(1);
            }
        }

        &:checked + .checkbox__text{
            &:before {
                border-color: map_get($checkbox, brd-active);
            }
            &:after {
                opacity: 1;
                visibility: visible;
                transform: scale(.5, .5);
            }
        }
        
        &:checked + .checkbox__wrap{
            border: 2px solid $c-dark;
        }


        &[disabled], &[disabled="disabled"], &.disabled{
            & + .checkbox__text{
                cursor: default;
                &:before, &:after {
                    box-shadow: none;
                }
                &:before {
                    border-color: transparent;
                    background-color: map_get($checkbox, disabled);
                }
                &:after{
                    color: map_get($checkbox, disabled);
                    background-color: transparent;
                }
            }
            &:checked + .checkbox__text{
                &:before {
                    border-color: transparent;
                    background-color: map_get($checkbox, disabled);
                }
                &:after{
                    color: map_get($checkbox, disabled);
                    background-color: map_get($checkbox, disabled-checked);
                }
            }
        }
    }

    &--radio{
        margin-bottom: 10px;

        &:last-child {
            margin-bottom: 0;
        }

        .checkbox__input{
            & + .checkbox__text{
                &:before, &:after {
                    border-radius: 50%;
                }
            }
        }

        &:checked + .checkbox__text{
            &:before {
                border-color: map_get($checkbox, brd-active);
            }
            &:after {
                opacity: 1;
                visibility: visible;
                transform: scale(.5, .5);
            }
        }
    }

    &--image {
        width: calc(33% - 20px);
        margin: 10px;
        cursor: pointer;

        .inner {
            height: 0;
            padding-bottom: 60%;
            position: relative;
            transition: all $tr-time $tr-type;

            img {
                @extend %centered-absolute;
                width: 100%;
                height: 100%;
                object-fit: cover;
                border-radius: 4px;
            }
        }

        .checkbox__text {
            font-weight: 300;
            font-size: 18px;
            line-height: 130%;
            color: #4a4a4a;
            text-align: center;
            margin-top: 10px;
            display: block;
        }

        .checkbox__input{
            & + .inner{
                &:before, &:after {
                    border-radius: 50%;
                }
            }
        }

        &:hover {

            .inner {
                transform: scale(.98);
            }
        }

        @include media('xs'){
            width: calc(50% - 10px);
        }
    }

    @include media('xs'){
        &_big {
            margin-bottom: 15px;
        }
    }
}

[type="checkbox"], [type="radio"]{
    vertical-align: middle;
    margin-right: 6px;
    margin-bottom: 3px;
}
