.nx-dynamic-label {
    position: relative;
    margin-bottom: 0;
    &__text{
        position: absolute;
        top: 17px;
        left: 20px;
        font-size: $fz-min;
        color: map_get($input, placeholder-color);
        line-height: 1;
        transition: all .15s $tr-type;
        pointer-events: none;
        transform-origin: left;
        z-index: 20;
        @include truncate(91%);
    }

    .nx-dynamic-label__input{
        font-size: 20px;
        font-family: 'HelveticaNeueCyr';
        color: #323232;
        padding: 35px 40px;
        border-radius: 50px;
        border: 1px solid #BEBEBE;
        background: #ffffff;
        margin-bottom: 20px;

        @include media ('xs') {
            padding: 30px;
            font-size: 14px;
        }

        &:active, &:hover, &:focus {
            outline: 0;
            outline-offset: 0;
            box-shadow: none;
            background: transparent;
            border-color: var(--base-color-font);
        }

        &.white {
            color: var(--base-color-white);
            border-bottom: 1px solid var(--base-color-white);

            &::placeholder {
                color: var(--base-color-white);
                opacity: 1;
            }

            &:active, &:hover, &:focus {
                border-color: var(--base-color-white);
            }
        }

    }

    &.focused{
        .nx-dynamic-label__text{
            transform: translateY(-13px);
            font-size: $fz-little;
        }
    }
    .error &{
        .nx-dynamic-label__text{
            color: map_get($content, error-color);
        }
    }
    &_tr {
        .nx-dynamic-label__input{
            background-color: transparent;
        }
    }
    &_lt {
        .nx-dynamic-label__text{
            color:white;
        }
        .nx-dynamic-label__input{
            border-color: white;
            color: white;
        }
    }
    @include media('xs'){
        &__text{
            left: 20px;
        }
    }
}
