.footer{
    position: relative;
    background-color: $footer-bg;
    z-index: 1;

    &__wrap {
        padding: 20px 0 60px;

        @include media('xs') {
            padding: 20px 0;
        }
    }

    &__container{
        display: flex;
        align-items: center;
        width: 100%;
        margin-bottom: 20px;

        @include media('sm-max') {
            flex-wrap: wrap;
            justify-content: center;
        }

        @include media('xs') {
            flex-direction: column;
        }
    }

    &__bottom {
        display: flex;

        @include media('xs') {
            display: block;
            text-align: center;
        }
    }

    &__politics, &__copy {
        font-size: 13px;
    }

    &__politics {
        margin-left: auto;

        a {
            color: #003b72;
        }

        @include media('xs') {
            margin-left: 0;
            margin-top: 10px;
        }
    }

    .spacer{
        margin-left: auto;

        @include media('sm-max') {
            margin-left: 0;
        }
    }
}


