.tingle-modal {

    &__closeIcon {
        color: $c-orange;
    }
}

.tingle-modal-box {
    width: auto;
    max-width: 400px;

    &__content {
        text-align: center;
    }

    &__footer {
        text-align: center;
    }
}

.tingle-btn {
    background-color: $c-orange;
}