.serviceAllBtn
{
    text-align: center;
    margin-top: 80px;
}
@media (any-hover: hover) {
    .swiper-gallery__slide:hover .swiper-gallery__img {
      transform: scale(1.2) translate(-50%, -50%);
    }
}

.swiper-gallery__img {
    transform: translate(-50%, -50%);
    object-fit: cover;
    transition: all 0.4s ease;
    transform-origin: center;
}

.storytell__container {
	max-width: 1260px;
}
.responsive-video {
    max-width: 1260px;
    margin-left: auto;
    margin-right: auto;
}
.responsive-video__inner {
    position: relative;
    padding-bottom: 56.25%; /* Пропорция 16:9 */
    height: 0;
    width: 100%;
}
.responsive-video iframe {
    display: block;
    height: 100%;
    width: 100%;
    position: absolute;
    top: 0;
    right: 0;
}
@media (max-width: 575px) {
    .responsive-video {
        max-width: 100%;
    }
}
