.map {
    padding: 80px 0 0;
    margin-top: 0;
    height: 560px;

    @include media('xs') {
        padding: 40px 0 0;
    }

    &__wrapper {
        height: 100%;
    }

    &__heading {
        text-align: center;
        margin-bottom: 80px;

        @include media('xs') {
            margin-bottom: 40px;
        }
    }
}