.order {

    position: relative;

    &__header {
        padding: 35px 45px 40px;
        background-color: $c-dark;
        color: white;

        @include media(xs) {
            padding: 20px 20px 30px;
        }
    }

    &__text {
        position: relative;
        font-size: 16px;
        padding-left: 40px;
        width: 90%;

        &:before {
            content: "";
            mask-image: url("/local/templates/svet/assets/images/icons/question.svg");
            mask-repeat: no-repeat;
            mask-size: contain;
            mask-position: center;
            background-color: $c-orange;
            position: absolute;
            top: 0;
            left: 0;
            width: 24px;
            height: 24px;
        }

        &--lg {
            font-size: 20px;
            padding-left: 0;
            width: 90%;
            display: none;

            &:before {
                content: none;
            }

            span {
                color: #b3b3b3;
            }

            .send & {
                display: block;
            }
        }

        .send & {
            display: none;
        }
    }

    &__progressbar {
        width: 100%;
        height: 5px;
        background-color: #cbcbcb;

        &--active {
            height: 100%;
            width: 0;
            background-color: $c-orange;
        }
    }

    &__counter {
        position: absolute;
        top: 40px;
        right: -110px;
        font-family: "Gotham Pro", sans-serif;
        color: #9599a1;

        &:before {
            content: "";
            background: #f1f4f794;
            width: 220px;
            height: 220px;
            position: absolute;
            left: 30px;
            top: -50px;
            z-index: -1;
            border-radius: 50%;
        }


        @include media(xs) {
            top: 20px;
            right: 10px;
        }
    }

    &__counter-top {
        font-size: 23px;
        margin-left: -10px;

        span {

            &:first-child {
                font-size: 75px;
                font-family: "Bandera Pro", sans-serif;
                color: #003b72;
                font-weight: 700;
            }
        }
    }

    &__form {

        @include media(xs) {
            padding: 20px 20px 30px;
        }
    }

    &__heading {
        margin-bottom: 24px;
    }

    &__title {
        font-size: 24px;
        margin-bottom: 6px;
    }

    &__subtitle {
        font-size: 12px;
    }

    &__nav {
        margin-top: 20px;
        display: flex;
        align-items: center;
        justify-content: space-between;

        @include media('xs') {
            flex-direction: column;
            align-items: stretch;

            .btn {
                margin-bottom: 15px;
            }

            .btn--primary {
                order: -1;
            }
        }
    }

    &__step {
        position: relative;

        & .form-group.error {
            border: 1px solid red!important;
            padding: 10px;
        }
    }

    &__step-title {
        font-size: 20px;
        margin-top: 20px;
        margin-bottom: 20px;
    }

    &__row {
        display: flex;
        margin-bottom: 30px;

        &:last-child {
            margin-bottom: 0;
        }

        .form-group {
            margin-right: 10px;
            width: calc(50% - 20px);

            &:last-child {
                margin-right: 0;
            }
        }
    }

    &__error {
        display: none;
        color: red;
        font-size: 14px;

        .error + & {
            display: block;
        }
    }
}