.scroll-top {
  position: fixed;
  display: flex;
  flex-direction: column;
  align-items: center;
  opacity: 0;
  padding: 15px;
  right: 80px;
  bottom: 40px;
  background-color: #F8F9F9;
  color: rgba(45, 45, 45, 0.5) !important;
  border-radius: 20px;
  cursor: pointer;
  z-index: 999;
  transition: all $tr-time $tr-type;
  animation: 1s show ease-in-out both;

  &:hover {
    color: rgba(45, 45, 45, 1) !important;

    svg {
      transform: translateY(-3px);
    }
  }

  @include media("sm-max") {
    right: 30px;
  }

  span {
    border-bottom: none;

    @include media('sm-max') {
      display: none;
    }
  }

  svg {
    transition: all $tr-time $tr-type;
  }

  &.absolute {
    position: absolute;
    bottom: 40px;
  }
}

@keyframes show {
  to {
    opacity: 1;
  }
}