.cert-slider {
    padding: 30px 0;
    overflow: hidden;

    &__btn-next, &__btn-prev {
        position: absolute;
        top: 65%;
        cursor: pointer;
    }

    &__btn-next {
        right: -65px;
    }

    &__btn-prev {
        left: -65px;
    }

    .swiper-pagination {
        bottom: -25px !important;
    }

    .swiper-pagination-bullet {
        width: 14px;
        height: 14px;
        background-color: #283032;
    }

    .swiper-pagination-bullet-active {
        background-color: #283032;

    }
}