.contacts {

    &__link {
        display: block;
        font-size: 19px;
        color: #003b72;
        white-space: nowrap;

        &--phone {
            font-size: 20px;
            font-weight: 900;
        }
    }
}