.footer {
  padding: 30px 30px;
  gap: 30px;
  background: var(--base-black-color);
  color: var(--base-color-white);
  font-family: 'HelveticaNeueCyr';

  @media (max-width: 743px) {
    padding: 20px 10px;
  }

  .footer-block {
    display: grid;
    grid-template-areas:
    "logo contacts contacts social"
    "rights rights policy dev";
    grid-template-columns: minmax(380px, 1fr) minmax(0, 300px) minmax(0, 1fr) minmax(0, 1fr);

    @media (max-width: 1399px) {
      grid-template-areas:
      "logo contacts contacts"
      "logo social social"
      "policy policy rights";
      grid-template-columns: minmax(0, 1fr) minmax(0, 1fr) minmax(0, 1fr);
    }

    @media (max-width: 743px) {
      grid-template-areas:
      "logo logo"
      "contacts social"
      "rights rights"
      "policy policy"
      "dev dev";
      grid-template-columns: minmax(0, 1fr) minmax(0, 1fr);
    }
  }

  .logo {
    grid-area: logo;

    @media (max-width: 743px) {
      text-align: center;
      min-width: auto;
    }
  }

  .contacts {
    margin-top: 20px;
    grid-area: contacts;
    display: flex;
    font-size: 17px;
    gap: 20px;

    @media (max-width: 743px) {
      font-size: 12px;
      gap: 0;
      flex-direction: column;
    }

    &__info {
      width: 300px;

      @media (max-width: 743px) {
        width: auto;
        margin-bottom: 30px;
      }
    }

    a {
      text-decoration: none;
      color: var(--base-color-white);
    }

    .email {
      padding-left: 30px;
      background: url("/local/templates/krovli/assets/images/icons/email-footer.svg") no-repeat center left;
    }

    .phone {
      padding-left: 30px;
      background: url("/local/templates/krovli/assets/images/icons/phone-footer.svg") no-repeat center left;
      margin-bottom: 30px;

      @media (max-width: 743px) {
        margin-bottom: 10px;
      }
    }

    .email, .phone {
      font-size: 20px;

      @media (max-width: 743px) {
        font-size: 15px;
      }
    }

    &__connect {
      display: flex;
      flex-direction: column;
      justify-content: space-between;

      @media (max-width: 743px) {
        justify-content: flex-start;
      }
    }
  }

  .social {
    margin-top: 20px;
    grid-area: social;
    display: flex;
    flex-direction: column;
    justify-content: space-between;

    &__top {
      display: flex;
      align-items: center;

      .title.foot {
        flex-shrink: 0;

        @media (max-width: 743px) {
          margin-bottom: 0;
          margin-right: 20px;
        }

        @media (max-width: 743px) {
          margin-bottom: 10px;
        }
      }

      @media (max-width: 743px) {
        flex-direction: column;
        align-items: flex-start;
        margin-left: 50px;
      }
    }

    &__list {
      display: flex;
      gap: 20px;

      @media (max-width: 743px) {
        flex-wrap: wrap;
        width: 62%;
      }

      .item {
        display: flex;

        @media (max-width: 743px) {
          width: calc((100% - 20px) / 2);
          justify-content: center;
        }

        img {
          width: 40px;
          height: 40px;

          @media (max-width: 743px) {
            width: 30px;
            height: 30px;
          }
        }
      }
    }

    .corp {
      font-size: 17px;

      @media (max-width: 743px) {
        display: none;
      }
    }
  }

  .rights {
    grid-area: rights;
    font-size: 16px;
    margin-top: 40px;
    min-width: 365px;

    @media (max-width: 743px) {
      font-size: 12px;
      text-align: center;
      margin-top: 20px;
    }
  }

  .policy {
    grid-area: policy;
    font-size: 16px;
    margin-top: 40px;

    @media (max-width: 743px) {
      font-size: 12px;
      text-align: center;
      margin-top: 20px;
    }
  }

  .dev {
    grid-area: dev;
    font-size: 16px;
    margin-top: 40px;

    @media (max-width: 743px) {
      display: none;
    }

    @media (max-width: 743px) {
      font-size: 12px;
      text-align: center;
      margin-top: 20px;
    }
  }
}