.partners-block {
  padding-top: 40px;
  overflow: hidden;

  @media (min-width: 992px) {
    padding-top: 120px;
  }

  &__list {
    display: flex;
    align-items: center;
    padding-top: 40px;
    padding-bottom: 60px;
    overflow-x: auto;
    -ms-overflow-style: none;
    scrollbar-width: none;

    @media (min-width: 992px) {
      padding-top: 70px;
      padding-bottom: 120px;
    }

    &::-webkit-scrollbar {
      width: 0;
      height: 0;
    }

    .partners-logo {
      padding: 0 50px;

      img {
        max-width: 200px;
      }
    }
  }
}