.top-product-sections {
  padding: 40px 30px 60px;

  @media (min-width: 768px) {
    padding: 60px 30px 120px;
  }

  .services-block__list {
    padding-left: 0;
    padding-right: 0;
  }
}

.product-sections-text {
  padding: 0 30px;

  .text-block {
    padding-top: 40px;
    padding-bottom: 60px;

    @media (min-width:768px) {
      padding-top: 120px;
      padding-bottom: 120px;
    }
  }

  .subtitle {
    font-size: 25px;
    font-weight: 400;
    color: var(--base-color-font);
    margin-bottom: 0;

    @media (min-width: 992px) {
      font-size: 30px;
    }
  }
}

.solution-sections {
  padding: 0 30px;
  border-top: 1px solid var(--base-color-border);
  border-bottom: 1px solid var(--base-color-border);

  @media (min-width: 768px) {
    padding: 0 30px;
  }
}

.solution-block {
  border-left: 1px solid var(--base-color-border);
  border-right: 1px solid var(--base-color-border);
  position: relative;

  &:before,
  &:after {
    @include dots;
  }

  &:after {
    bottom: -4px;
    left: -4px;
  }

  &:before {
    bottom: -4px;
    right: -4px;
  }

  &__item {
    padding: 40px 30px;
    position: relative;

    & + & {
      border-top: 1px solid var(--base-color-border);

      &:before {
        content: "";
        position: absolute;
        width: 2000px;
        height: calc(100% + 2px);
        background: transparent;
        border-top: 1px solid var(--base-color-border);
        z-index: 2;
        top: -1px;
        right: 100%;
      }
      &:after {
        content: "";
        position: absolute;
        width: 2000px;
        height: calc(100% + 2px);
        background: transparent;
        border-top: 1px solid var(--base-color-border);
        z-index: 2;
        top: -1px;
        left: 100%;
      }
    }

    &:first-child {

      &:before,
      &:after {
        @include dots;
      }

      &:after {
        top: -4px;
        left: -4px;
      }

      &:before {
        top: -4px;
        right: -4px;
      }
    }

    @media (min-width: 768px) {
      padding: 60px 100px;
    }
  }

  &__title {
    font-size: 25px;
    font-weight: 400;
    color: var(--base-color-font);
    margin-bottom: 20px;


    @media (min-width: 992px) {
      font-size: 30px;
      margin-bottom: 35px;
    }
  }

  &__text {
    font-size: 16px;
    font-weight: 500;
    color: var(--base-color-font);

    @media (min-width: 992px) {
      font-size: 20px;
    }

    p {
      font-size: 16px;
      font-weight: 500;
      color: var(--base-color-font);
      margin-bottom: 0;

      @media (min-width: 992px) {
        font-size: 20px;
      }
    }

    p + p {
      padding-top: 25px;
    }
  }
}