.breadcrumbs {
  margin-bottom: 20px;
  display: flex;
  align-items: center;
  justify-content: center;

  &__link {
    @include hover-mixin;
    position: relative;
    font-size: 15px;
    font-weight: 500;
    color: var(--base-color-font);
    text-decoration: none;
    padding: 0 15px;

    @media (min-width: 768px) {
      font-size: 20px;
    }

    & + & {

      &:after {
        content: '';
        position: absolute;
        left: 0;
        right: 0;
        width: 1px;
        height: 100%;
        background:  var(--base-color-font);;
      }
    }

    &:hover {
      color: var(--base-color-active);
    }
  }
}