.services-sections {
  padding: 35px 30px;
  background-color: white;

  @media (max-width: 743px) {
    padding: 0 10px;
    background: linear-gradient(to bottom, #F9FAFA, #ffffff 5%) center top;
  }
}

.services {

  @media (max-width: 1399px) {

    .title {
      font-size: 60px;
      text-align: center;
    }
  }

  @media (max-width: 743px) {

    .title {
      text-align: center;
      font-size: 40px;
    }
  }

  &__list {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 21px;
    margin-top: 50px;
    margin-bottom: 40px;

    @media (max-width: 1200px) {
      grid-template-columns: 1fr 1fr;
    }

    @media (max-width: 743px) {
      width: 100%;
      gap: 15px;
      margin-top: 25px;
      margin-bottom: 25px;
      grid-template-columns: 1fr;
    }

    &--item {
      width: 100%;
      aspect-ratio: 12 / 8.75;
      position: relative;
      display: flex;
      flex-direction: column;

      .pic {
        width: 100%;
        height: 100%;
        overflow: hidden;
        border-radius: 20px;

        img {
          width: 100%;
          height: 100%;
          object-fit: cover;
        }
      }

      .info__wrap {
        position: absolute;
        width: 100%;
        height: 100%;
        z-index: 2;
        top: 0;
        left: 0;
        display: flex;
        align-items: flex-end;
        justify-content: center;
        text-align: center;
      }

      .info {
        display: flex;
        flex-direction: column;
        align-items: center;
        color: var(--base-white-color);
        margin-bottom: 20px;
        text-align: center;

        @media (max-width: 743px) {
          bottom: 15px;
        }

        &__title {
          font-family: 'Kenyan Coffee Rg';
          text-transform: uppercase;
          font-size: 53px;
          line-height: 1;
          text-align: center;

          @media (max-width: 743px) {
            font-size: 38px;
          }
        }

        &__subtitle {
          font-family: 'Kenyan Coffee Rg';
          font-size: 30px;
          text-align: center;

          @media (max-width: 743px) {
            font-size: 22px;
          }
        }
      }
    }
  }

  &__info {
    margin: 0 65px 100px 65px;
    border-radius: 75px;
    border: 1px solid #9B9B9B;
    padding: 25px 75px;
    display: flex;
    gap: 15px;
    font-size: 23px;
    font-family: 'HelveticaNeueCyr';
    color: #283032;

    @media (max-width: 1399px) {
      margin: 0 0 50px;
      padding: 22px 34px;
      font-size: 17px;
      flex-direction: column;
      text-align: center;
      border-radius: 20px;
    }

    @media (max-width: 743px) {
      margin: 0;
      border: none;
      padding: 0;
      font-size: 15px;
      flex-direction: column;
      text-align: center;
    }

    .btn {
      min-width: 350px;
      height: 100px;

      @media (max-width: 743px) {
        min-width: auto;
        width: 275px;
        height: 75px;
      }

      @media (max-width: 743px) {
        margin: 0 auto 40px;
      }
    }

    &--right {
      display: flex;
      align-items: center;

      @media (max-width: 1440px) {
        justify-content: center;
      }
    }

    &--left {

      span {
        color: #70C0FF;
        font-weight: bold;
      }
    }
  }
}

.add-services {

  &__list {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    margin-top: 50px;
    padding-bottom: 130px;
    column-gap: 15px;
    row-gap: 50px;

    @media (max-width: 1399px) {
      grid-template-columns: repeat(3, 1fr);
      column-gap: 10px;
    }

    @media (max-width: 743px) {
      grid-template-columns: repeat(2, 1fr);
      row-gap: 30px;
      padding-bottom: 30px;
    }

    @media (max-width: 743px) {
      margin-top: 25px;
    }

    &--item {
      display: flex;
      flex-direction: column;
      justify-content: space-between;
      align-items: center;
      text-align: center;

      .pic {
        width: 100%;
        margin-bottom: 10px;
        overflow: hidden;
        border-radius: 20px;

        @media (max-width: 743px) {
          border-radius: 10px;
        }

        img {
          width: 100%;
          aspect-ratio: 12 / 8.75;
          object-fit: cover;
        }
      }

      .info {
        display: flex;
        flex-direction: column;
        margin-bottom: 20px;

        @media (max-width: 743px) {
          margin-bottom: 10px;
        }

        &__title {
          font-weight: 500;
          color: #283032;
          margin-bottom: 15px;
          font-family: 'HelveticaNeueCyr';
          font-size: 23px;

          @media (max-width: 743px) {
            font-size: 14px;
            margin-bottom: 5px;
          }
        }

        &__price {
          font-weight: bold;
          color: #70C0FF;
          font-family: 'HelveticaNeueCyr';
          font-size: 23px;

          @media (max-width: 743px) {
            font-size: 15px;
          }
        }
      }

      .btn {
        width: 284px;
        height: 84px;

        @media (max-width: 1399px) {
          max-width: 200px;
          height: 60px;
          width: 100%;
          min-width: auto;
        }

        @media (max-width: 743px) {
          height: 45px;
          font-size: 11px;
          padding: 0px 30px;
        }
      }
    }
  }
}