.btn {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  border: 0;
  font-family: 'HelveticaNeueCyr';
  font-size: 16px;
  font-weight: bold;
  text-transform: uppercase;
  color: var(--base-color-white);
  border-radius: 50px;
  padding: 0 60px;
  min-width: 300px;
  height: 90px;
  z-index: 1;
  cursor: pointer;

  @media (max-width: 743px) {
    min-width: 0;
    width: 100%;
    font-size: 12px;
  }

  &:before {
    content: "";
    display: block;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    transition: opacity 0.3s ease-in-out;
    border-radius: 50px;
    opacity: 0;
    z-index: -1;
  }

  span {
    display: inline-block;
    line-height: 16px;
    border-bottom: none;

    @media (max-width: 743px) {
      line-height: 12px;
    }

    &:after,
    &:before {
      content: '';
      position: absolute;
      top: 50%;
      transform: translateY(calc(-50% - 2px));
      width: 40px;
      height: 19px;
      background-size: 100% 100%;
      background-repeat: no-repeat;

      @media (max-width: 1600px) {
        width: 22px;
        height: 12px;
      }
    }

    &:before {
      left: 15px;
      mask-image: url("/local/templates/krovli/assets/images/icons/arrow.svg");
      mask-position: center;
      mask-repeat: no-repeat;
    }

    &:after {
      transform: translateY(calc(-50% - 2px)) rotate(180deg);
      right: 15px;
      mask-image: url("/local/templates/krovli/assets/images/icons/arrow.svg");
      mask-position: center;
      mask-repeat: no-repeat;
    }
  }

  &-blue {
    background-image: radial-gradient(circle at 50% -120%, #fff 0, #3FB5EB 80%, #3FB5EB 100%);
    border-bottom: 3px solid #1f6687;

    &::before {
      background-image: radial-gradient(circle at 50% -120%, #fff 0, #3FB5EB 125%, #3FB5EB 100%);
    }

    span {
      &::before, &::after {
        background-color: white;
      }
    }

    &:hover {
      color: var(--base-color-white);
      border-bottom: 3px solid #1f6687;

      &::before {
        opacity: 1;
      }
    }
  }

  &-orange {
    border-bottom: 3px solid #c86945;
    background-image: radial-gradient(circle at 50% -120%,#fff 0%, #ff8f64 80%,#ff8f64 100%);

    &::before {
      background-image: radial-gradient(circle at 50% -150%, #fff 0, #ff8f64 125%, #ff8f64 100%);
    }

    span {
      &::before, &::after {
        background-color: white;
      }
    }

    &:hover {
      color: var(--base-color-white);
      border-bottom: 3px solid #c86945;

      &::before {
        opacity: 1;
      }
    }
  }

  &-gray {
    color: #555454;
    border: 1px solid #555454;

    span {
      &::before, &::after {
        background-color: #555454;
      }
    }

    &:hover {
      color: var(--base-color-black);
      border: 1px solid var(--base-color-black);
    }
  }

  &.white {
    background: var(--base-color-white);
    color: var(--base-color-font);
  }

  //&:hover {
  //  background:  var(--base-color-active);
  //  color: var(--base-color-white);
  //}

  &.disabled,
  &:disabled {
    background:  var(--base-color-disabled);
    color: var(--base-color-white);
  }

  //&.secondary {
  //  background: transparent;
  //  border: 1px solid var(--base-color-font);
  //  color: var(--base-color-font);
  //
  //  &:hover {
  //    background:  var(--base-color-font);
  //    border: 1px solid var(--base-color-font);
  //    color: var(--base-color-white);
  //  }
  //
  //  &.disabled,
  //  &:disabled {
  //    background:  var(--base-color-disabled);
  //    color: var(--base-color-white);
  //  }
  //}
}