.calculate-sections {
  background-image: url("/local/templates/krovli/assets/images/calculate-bg.png");
  background-repeat: no-repeat;
  background-position: center right;
  background-color: #f9fafa;
  position: relative;
  padding: 50px 30px 150px;

  @media (min-width: 1921px) {
    background-position: center center;
  }

  @media (max-width: 1440px) {
    padding-top: 50px;
  }

  @media (max-width: 743px) {
    background-image: url("/local/templates/krovli/assets/images/calculate-bg-mobile.png");
    padding: 30px 0;
  }

  .block-ellipse {
    position: absolute;
    top: -330px;
    left: 50%;
    transform: translateX(-50%);
    width: 100%;

    img {
      width: 100%;
    }

    @media (max-width: 743px) {
      top: -65px;
    }
  }
}

.calculate {
  display: flex;
  position: relative;
  flex-direction: column;
  padding-left: 425px;

  @media (max-width: 1399px) {
    padding-left: 0;
  }

  @media (max-width: 743px) {
    padding-left: 0;
  }

  &__pic {

    .desktop {
      display: block;
      position: absolute;
      top: 0;
      left: -120px;
      z-index: 1;

      @media (max-width: 1600px) {
        left: -70px;
      }
    }

    .tablet,
    .mobile {
      display: none;
    }

    img {

      @media (max-width: 743px) {
        width: 100%;
      }
    }

    @media (max-width: 1399px) {
      .desktop {
        display: none;
      }

      .tablet {
        position: absolute;
        display: block;
        width: 453px;
        left: -30px;
        top: 420px;
      }
    }

    @media (max-width: 743px) {
      .desktop,
      .mobile {
        display: none;
      }
    }

    @media (max-width: 743px) {

      .desktop,
      .tablet {
        display: none;
      }

      .mobile {
        position: absolute;
        z-index: 0;
        display: block;
        width: 243px;
        left: -10px;
        top: 220px;
      }
    }
  }

  &__info {
    font-size: 30px;
    margin-top: 15px;
    margin-bottom: 25px;
    font-family: 'HelveticaNeueCyr';
    color: #283032;

    @media (max-width: 1600px) {
      font-size: 20px;
    }

    @media (max-width: 743px) {
      font-size: 21px;
    }

    @media (max-width: 743px) {
      width: 60%;
      font-size: 15px;
      padding-bottom: 275px;
    }


    span {
      font-weight: bold;
      color: #70C0FF;
    }
  }

  &__buttons {
    display: flex;
    gap: 40px;
    z-index: 5;
    position: relative;

    @media (max-width: 1399px) {
      flex-direction: row;
      padding-bottom: 300px;

      .btn {
        font-size: 12px;
      }
    }

    @media (max-width: 743px) {
      flex-direction: column;
      gap: 15px;
      align-items: center;
      justify-content: center;
      padding-bottom: 0;

      .btn {
        width: 275px;
        height: 75px;
      }
    }
  }
}