.header{
    display: block;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    margin: auto;
    height: map_get($header, height);
    background-color: map_get($header, bg);
    z-index: 500;
    max-width: 100%;
    min-width: map-get($container, min-width);

    @include media('sm-max') {
        height: map_get($header, height-sm);
    }

    @include media('xs') {
        height: map_get($header, height-xs);
    }

    &__wrap, &__container{
        height: 100%;
    }

    &__wrap {

        @include media('sm-max') {
            padding: 20px 0;
        }
    }

    &__container{
        display: flex;
        align-items: center;
        width: 100%;

        @include media('sm-max') {
            flex-wrap: wrap;
            justify-content: center;
        }

        @include media('xs') {
            flex-direction: column;
        }
    }

    &__brand{
        width: 120px;

        @include media('md-max') {
            width: 120px;
        }

        @include media('xs') {
            width: 160px;
            margin-bottom: 20px;
        }
    }

    &__text {
        font-size: 16px;
        line-height: 18px;
        padding-left: 15px;
        margin-left: 40px;
        border-left: 1px solid #c1c8da;


        &--small {
            font-size: 14px;
        }

        span {
            color: $c-orange;
        }

        @include media('md-max') {
            font-size: 14px;
            line-height: 16px;
            margin-left: 30px;
        }

        @include media('xs') {
            margin-left: 0;
            margin-bottom: 20px;
            text-align: center;
            border-left: none;
        }
    }

    &__contacts, &__btn {
        margin-left: 40px;

        @include media('md-max') {
            margin-left: 30px;
        }

        @include media('xs') {
            margin-left: 0;
            text-align: center;
        }
    }

    &__btn {

        @include media('sm-max') {
            margin-top: 20px;
            width: 50%;
            display: flex;
            justify-content: center;
        }

        @include media('sm-max') {
            width: 100%;
        }
    }

    .spacer{
        margin-left: auto;

        @include media('sm-max') {
            margin-left: 0;
        }
    }
}

.brand{
    display: block;
    width: 100%;

    &:hover{
        opacity: .8;
    }

    &__img{
        max-height: 100%;
    }
}