.page-404 {
  background: url("../../img/404-man.png") no-repeat left bottom, url("../../img/404.png") no-repeat center center/cover;
  width: 100%;
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;

  .btn {
    width: 355px;
    margin-bottom: 75px;
    line-height: 90px;
  }

  .info {
    display: flex;
    flex-direction: column;
    align-items: center;
    align-self: flex-end;
    margin-top: 35px;
    margin-right: 15%;
  }

  .title {
    color: #323232;
    font-size: 251px;
    font-family: 'Kenyan Coffee Rg';
  }

  .text {
    font-size: 60px;
    color: #323232;
    font-family: 'Kenyan Coffee Rg';
    
    span {
      color: #FF2B2B;
    }
  }
}