.services-sections {
  padding-top: 30px;
}

.services-block {
  position: relative;
  z-index: 2;

  &__nav {
    margin-top: 30px;
  }

  &__list {
    padding-top: 30px;
    padding-left: 40px;
    padding-right: 40px;


    @media (min-width: 768px) {
      padding-top: 80px;
      padding-left: 0;
      padding-right: 0;
    }
  }

  &__descr {
    padding-top: 40px;
    padding-bottom: 60px;
    padding-left: 30px;
    padding-right: 30px;
    border-top: 1px solid var(--base-color-border);
    border-bottom: 1px solid var(--base-color-border);
    margin-top: 60px;

    @media (min-width: 768px) {
      padding-top: 80px;
      padding-bottom: 120px;
      margin-top: 80px;
    }
  }

  &__advantages {
    padding-left: 30px;
    padding-right: 30px;
    border-bottom: 1px solid var(--base-color-border);
  }
}

.work-services-block {
  background: var(--base-color-bg);
  position: relative;
  z-index: 2;
}

.pay-services-sections {
  position: relative;
  z-index: 2;
}

.advantages-block {

  &__left {
    position: relative;
    padding-top: 60px;

    @media (min-width: 768px) {
      padding-top: 120px;
      border-right: 1px solid var(--base-color-border);
    }

    .title {
      font-size: 40px;
      font-weight: 700;
      text-align: center;

      @media (min-width: 768px) {
        font-size: 50px;
        text-align: left;
        line-height: 62.75px;
        &:before {
          @include dots;
          top:-4px;
          right: -4px;
        }
      }
    }
  }

  &__right {

    padding-top: 60px;
    padding-bottom: 40px;

    @media (min-width: 768px) {
      padding-left: 30px;
      padding-top: 120px;
    }
  }

  &__item {
    margin-bottom: 30px;
  }

  .advantages {

    &__title {
      font-size: 25px;
      font-weight: 400;
      color: var(--base-color-font);
      position: relative;
      padding-left: 50px;

      @media (min-width: 768px) {
        font-size: 30px;
      }

      &:before {
        content: '';
        position: absolute;
        width: 45px;
        height: 5px;
        background: var(--base-color-active);
        top: 16px;
        left: 0;

        @media (min-width: 768px) {
          top: 20px;
        }
      }
    }

    &__description {
      padding-top: 20px;
      font-size: 16px;

      @media (min-width: 768px) {
        font-size: 20px;
      }
    }
  }
}

.descr {

  &__title {
    font-size: 30px;
    font-weight: 700;
    color: var(--base-color-font);
    padding-bottom: 30px;


    @media (min-width: 992px) {
      font-size: 50px;
    }
  }
  &__text {
    font-size: 20px;
    font-weight: 400;
    color: var(--base-color-font);


    @media (min-width: 992px) {
      font-size: 30px;
    }
  }
}

.services-list {

  &__left {
    font-size: 30px;
    font-weight: 700;
    color: var(--base-color-font);


    @media (min-width: 992px) {
      font-size: 50px;
      line-height: 62.75px;
    }
  }

  &__right {

    .services-text {
      padding-left: 66px;
      position: relative;
      font-size: 20px;
      font-weight: 500;
      padding-top: 20px;
      min-height: 140px;

      @media (min-width: 992px) {
        font-size: 30px;
        font-weight: 400;
      }

      &:before {
        content: '';
        position: absolute;
        left: 0;
        top: 40px;
        width: 45px;
        height: 5px;
        background: var(--base-color-font);
      }
    }

    .services-button {
      display: flex;
      justify-content: flex-end;
      padding-top: 15px;
    }
  }
}

.services-nav {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
  position: relative;

  @media (min-width: 768px) {
    flex-wrap: nowrap;

    &:before,
    &:after {
      content: '';
      position: absolute;
      width: 1000%;
      height: 1px;
      left: -100%;
      background: var(--base-color-border);
    }

    &:before {
      top: -1px;
    }
    &:after {
      bottom: 0;
    }

    @media (min-width: 992px) {
      font-size: 30px;
      font-weight: 400;
    }
  }

  &__link {
    @include hover-mixin;
    font-size: 20px;
    font-weight: 500;
    color: var(--base-color-font);
    background: transparent;
    padding: 20px;
    flex: 0 1 50%;
    text-decoration: none;
    text-align: center;
    border: 1px solid var(--base-color-border);
    margin: -1px 0 0 -1px;

    @media (min-width: 768px) {
      flex: 0 1 auto;
      border: 0;
    }

    @media (min-width: 992px) {
      font-size: 30px;
      font-weight: 400;
      padding: 25px 30px;
    }

    &:hover,
    &.active {
      color: var(--base-color-white);
      background: var(--base-color-active);
    }
  }
}

