<div class="sections-about">
  <div class="container about-block">
    <div class="title big">
      О компании
    </div>
    <div class="about-block__info">
      <p>Строительная компания «АлексПром» оказывает услуги по качественному ремонту и монтажу кровли любой сложности в Москве и Московской области. Работаем как с физическими, так и с юридическими лицами по наличному и безналичному расчету, в т.ч. криптовалютой.</p>
      <p>Мы работаем от простой протечки кровли, до ее капитального ремонта, гарантируя результат и исключая дальнейшие «переделки». Есть услуга «Срочный выезд». Предоставляем фото и видео отчетность.</p>
    </div>
    <div class="about-block__pics">
      <div class="about-block__item about-block__item-blue">
        <div class="icon"><img src="../../img/icons/about-1.svg" alt=""></div>
        <div class="text"><span>500+ выполненных</span><br> работ</div>
      </div>
      <div class="about-block__item about-block__item-orange">
        <div class="icon"><img src="../../img/icons/about-2.svg" alt=""></div>
        <div class="text"><span>Работа по договору</span><br>
          с гарантией качества</div>
      </div>
      <div class="about-block__item about-block__item-orange">
        <div class="icon"><img src="../../img/icons/about-3.svg" alt=""></div>
        <div class="text"><span>Выгодная цена</span> на<br> монтаж и материалы</div>
      </div>
      <div class="about-block__item about-block__item-blue">
        <div class="icon"><img src="../../img/icons/about-4.svg" alt=""></div>
        <div class="text"><span>4,83 рейтинг</span> по всем<br> карточкам и отзывам</div>
      </div>
    </div>
  </div>
</div>