<div class="section-blog">
    <div class="container carousel slide vertical" id="carouselBlog">
        <div class="row">
            <div class="section-blog__left col-lg-3">
                <div class="section-blog__left-header">
                    <div class="section-blog__left-title">
                        @@include('../page-blocks/_header-title.html',{
                        "text":"Блог",
                        "modifyTitle":"",
                        "textLink":"",
                        "link":"#",
                        "modifyLinkBlock":"none",
                        })
                    </div>
                    <div class="section-blog__left-link">
                        @@include('../bem-blocks/_link.html',{
                        "text":"Перейти в блог",
                        "link":"#",
                        })
                    </div>
                </div>
                <div class="section-blog__left-control">
                    <button class="carousel-control-prev" type="button" data-bs-target="#carouselBlog"
                            data-bs-slide="prev">
                        <svg class="img">
                            <use xlink:href="img/sprite.svg#arrow"></use>
                        </svg>
                    </button>
                    <button class="carousel-control-next" type="button" data-bs-target="#carouselBlog"
                            data-bs-slide="next">
                        <svg class="img">
                            <use xlink:href="img/sprite.svg#arrow"></use>
                        </svg>
                    </button>
                </div>
            </div>
            <div class="section-blog__right col-lg-9">
                <div class="carousel-inner">
                    <div class="carousel-item active">
                        <div class="blog-block">
                            <div class="blog-block__left">
                                <a href="#" class="blog-block__title">Что такое конверсия,
                                    или как превратить посетителей
                                    в покупателей
                                </a>
                                <div class="blog-block__tag">
                                    <a href="#" class="tag link">
                                        # analitics
                                    </a>
                                    <a href="#" class="tag link">
                                        # продвижение
                                    </a>
                                </div>
                            </div>
                            <div class="blog-block__right">
                                <img src="img/blog6.jpg">
                            </div>
                        </div>
                        <div class="blog-block">
                            <div class="blog-block__left">
                                <div class="blog-block__title">Как выбрать версию «1С-Битрикс24»?</div>
                                <div class="blog-block__tag">
                                    <a href="#" class="tag link">
                                        # битрикс
                                    </a>
                                </div>
                            </div>
                            <div class="blog-block__right">
                                <img src="img/blog5.jpg">
                            </div>
                        </div>
                    </div>
                    <div class="carousel-item">
                        <div class="blog-block">
                            <div class="blog-block__left">
                                <div class="blog-block__title">Как выбрать версию «1С-Битрикс24»?</div>
                                <div class="blog-block__tag">
                                    <a href="#" class="tag link">
                                        # менеджмент
                                    </a>
                                </div>
                            </div>
                            <div class="blog-block__right">
                                <img src="img/blog3.jpg">
                            </div>
                        </div>
                        <div class="blog-block">
                            <div class="blog-block__left">
                                <div class="blog-block__title">Таргетированная реклама
                                    для e-commerce: не ограничивайтесь динамическим ретаргетингом
                                </div>
                                <div class="blog-block__tag">
                                    <a href="#" class="tag link">
                                        # битрикс
                                    </a>
                                </div>
                            </div>
                            <div class="blog-block__right">
                                <img src="img/blog4.webp">
                            </div>
                        </div>
                    </div>
                    <div class="carousel-item">
                        <div class="blog-block">
                            <div class="blog-block__left">
                                <div class="blog-block__title">Таргетированная реклама
                                    для e-commerce: не ограничивайтесь динамическим ретаргетингом
                                </div>
                                <div class="blog-block__tag">
                                    <a href="#" class="tag link">
                                        # менеджмент
                                    </a>
                                </div>
                            </div>
                            <div class="blog-block__right">
                                <img src="img/blog5.webp">
                            </div>
                        </div>
                        <div class="blog-block">
                            <div class="blog-block__left">
                                <div class="blog-block__title">Как выбрать версию «1С-Битрикс24»?</div>
                                <div class="blog-block__tag">
                                    <a href="#" class="tag link">
                                        # битрикс
                                    </a>
                                </div>
                            </div>
                            <div class="blog-block__right">
                                <img src="img/blog5.webp">
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>