<section class="case-sections">

    <div class="container case-block">
        <div class="header-title">
            <div class="title">Ке<span class="mustache">и</span>сы </div>
            <div class="header-title__link Block">
                <a class="link " href="#">Перейти в раздел</a>
            </div>
        </div>

        <div class="case-block__list">
            <div class="row gx-5">
                <a href="#" class="case-block__item col-12 col-sm-6">
                    <div class="case-block__img">
                        <img src="/img/innodata.webp">
                    </div>
                    <div class="case-block__title">
                        Иннодата
                    </div>
                    <div class="case-block__description">
                        Корпоративный сайт компании
                    </div>
                </a>
                <a href="#" class="case-block__item col-12 col-sm-6">
                    <div class="case-block__img">
                        <img src="/img/pushkin.webp">
                    </div>
                    <div class="case-block__title">
                        Магазин продукции
                        Пушкинского музея
                    </div>
                    <div class="case-block__description">
                        Официальный
                    </div>
                </a>
                <a href="#" class="case-block__item col-12 col-sm-6">
                    <div class="case-block__img">
                        <img src="/img/developit.webp">
                    </div>
                    <div class="case-block__title">
                        DevelopIT
                    </div>
                    <div class="case-block__description">
                        Промо-сайт для разработчика программных продуктов
                    </div>
                </a>
                <a href="#" class="case-block__item col-12 col-sm-6">
                    <div class="case-block__img">
                        <img src="/img/inegro.webp">
                    </div>
                    <div class="case-block__title">
                        Integro tehnologie
                    </div>
                    <div class="case-block__description">
                        Корпоративный сайт компании, занимающейся системным интегрированием
                    </div>
                </a>
                <a href="#" class="case-block__item col-12 col-sm-6">
                    <div class="case-block__img">
                        <img src="/img/sapsan.webp">
                    </div>
                    <div class="case-block__title">
                        Cапсан
                    </div>
                    <div class="case-block__description">
                        Сайт для компании - продавца строительных материалов
                    </div>
                </a>
                <a href="#" class="case-block__item col-12 col-sm-6">
                    <div class="case-block__img">
                        <img src="/img/kover.webp">
                    </div>
                    <div class="case-block__title">
                        Runo carpet
                    </div>
                    <div class="case-block__description">
                        Интернет-магазин дагестанских ковров ручной работы
                    </div>
                </a>
            </div>
        </div>

        <div class="case-block__button @@linkVisible">
            <a class="btn secondary" href="#" >
               Показать ещё
            </a>
        </div>
    </div>
</section>