<section class="faq-sections">
    <div class="container faq">
        <div class="title big ta-c">
            <span>часто задаваемые</span> вопросы
        </div>
        <div class="faq__list">
            <div class="faq__list--item">
                <div class="spoiler">
                    <div class="text">Ваша компания предоставляет гарантию? И работаете ли Вы по договору?</div>
                    <div class="icon"></div>
                </div>
                <div class="info">Текст-заполнитель — это текст, который имеет некоторые характеристики реального письменного текста, но является случайным набором слов или сгенерирован иным образом. Его можно использовать для отображения образца шрифтов, создания текста для тестирования или обхода спам-фильтра. Википедия</div>
            </div>
            <div class="faq__list--item">
                <div class="spoiler">
                    <div class="text">Ваша компания предоставляет гарантию? И работаете ли Вы по договору?</div>
                    <div class="icon"></div>
                </div>
                <div class="info">Текст-заполнитель — это текст, который имеет некоторые характеристики реального письменного текста, но является случайным набором слов или сгенерирован иным образом. Его можно использовать для отображения образца шрифтов, создания текста для тестирования или обхода спам-фильтра. Википедия</div>
            </div>
            <div class="faq__list--item">
                <div class="spoiler">
                    <div class="text">Ваша компания предоставляет гарантию? И работаете ли Вы по договору?</div>
                    <div class="icon"></div>
                </div>
                <div class="info">Текст-заполнитель — это текст, который имеет некоторые характеристики реального письменного текста, но является случайным набором слов или сгенерирован иным образом. Его можно использовать для отображения образца шрифтов, создания текста для тестирования или обхода спам-фильтра. Википедия</div>
            </div>
            <div class="faq__list--item">
                <div class="spoiler">
                    <div class="text">Ваша компания предоставляет гарантию? И работаете ли Вы по договору?</div>
                    <div class="icon"></div>
                </div>
                <div class="info">Текст-заполнитель — это текст, который имеет некоторые характеристики реального письменного текста, но является случайным набором слов или сгенерирован иным образом. Его можно использовать для отображения образца шрифтов, создания текста для тестирования или обхода спам-фильтра. Википедия</div>
            </div>
            <div class="faq__list--item">
                <div class="spoiler">
                    <div class="text">Ваша компания предоставляет гарантию? И работаете ли Вы по договору?</div>
                    <div class="icon"></div>
                </div>
                <div class="info">Текст-заполнитель — это текст, который имеет некоторые характеристики реального письменного текста, но является случайным набором слов или сгенерирован иным образом. Его можно использовать для отображения образца шрифтов, создания текста для тестирования или обхода спам-фильтра. Википедия</div>
            </div>
            <div class="faq__list--item">
                <div class="spoiler">
                    <div class="text">Ваша компания предоставляет гарантию? И работаете ли Вы по договору?</div>
                    <div class="icon"></div>
                </div>
                <div class="info">Текст-заполнитель — это текст, который имеет некоторые характеристики реального письменного текста, но является случайным набором слов или сгенерирован иным образом. Его можно использовать для отображения образца шрифтов, создания текста для тестирования или обхода спам-фильтра. Википедия</div>
            </div>
        </div>
    </div>
</section>