<section class="faq-sections">
    <div class="container faq">
        <div class="title big ta-c">
            <span>часто задаваемые</span> вопросы
        </div>
        <div class="faq__list">
            <div class="faq__list--item">
                <div class="text">Ваша компания предоставляет гарантию? И работаете ли Вы по договору?</div>
                <div class="icon"></div>
            </div>
            <div class="faq__list--item">
                <div class="text">Ваша компания предоставляет гарантию? И работаете ли Вы по договору?</div>
                <div class="icon"></div>
            </div>
            <div class="faq__list--item">
                <div class="text">Ваша компания предоставляет гарантию? И работаете ли Вы по договору?</div>
                <div class="icon"></div>
            </div>
            <div class="faq__list--item">
                <div class="text">Ваша компания предоставляет гарантию? И работаете ли Вы по договору?</div>
                <div class="icon"></div>
            </div>
        </div>
    </div>
</section>