<footer class="footer">
    <div class="container footer-block">
        <a class="logo" href="/">
            <img src="img/icons/logo-footer.svg">
        </a>
        <div class="contacts">
            <div class="contacts__info">
                <div class="title foot">
                    Контакты:
                </div>
                Москва, ул. Бойцовая, д.22,<br>этаж 2, пом.V, комн.9, офис 4 г
            </div>
            <div class="contacts__connect">
                <a class="phone" href="tel:+7 (495) 109-02-42">+7 (495) 109-02-42</a>
                <div class="email">zakaz@alexprom.ru</div>
            </div>
        </div>
        <div class="social">
            <div class="social__top">
                <div class="title foot">
                    соц сети:
                </div>
                <div class="social__list">
                    <div class="item">
                        <a href="">
                            <img src="../../img/vk.png" alt="">
                        </a>
                    </div>
                    <div class="item">
                        <a href="">
                            <img src="../../img/whats.png" alt="">
                        </a>
                    </div>
                    <div class="item">
                        <a href="">
                            <img src="../../img/telegram.png" alt="">
                        </a>
                    </div>
                    <div class="item">
                        <a href="">
                            <img src="../../img/youtube.png" alt="">
                        </a>
                    </div>
                </div>
            </div>
            <div class="corp">Корпоративный сайт</div>
        </div>
        <div class="rights">
            Все права защищены © 2024 ООО «АЛЕКСПРОМ»
        </div>
        <div class="policy">
            Политика конфиденциальности
        </div>
        <div class="dev">
            Разработка сайта — Digital Option
        </div>
    </div>
</footer>
