<section class="how-work-sections">
  <div class="block-ellipse">
    <img src="img/block-ellipse.png" alt="">
  </div>
  <div class="how-work">
    <div class="title big ta-c">
      Как мы <span>работаем</span>
    </div>
    <div class="pic"></div>
    <div class="permissions-wrap">
      <div class="big-arrows">
        <img src="img/icons/arrows-big.svg" alt="">
      </div>
      <div class="container permissions">
        <div class="permissions__left">
          <div class="title big">
            Работаем с Порталом<br><span>поставщиков</span>
          </div>
          <div class="title min">
            наши допуски <span>и разрешения:</span>
          </div>
        </div>
        <div class="permissions__center">
          <img src="img/permission-pic.png" alt="">
          <ul class="permissions-list">
            <li class="item">С физическими лицами</li>
            <li class="item">С юридическими лицами</li>
            <li class="item">С порталом поставщиков</li>
          </ul>
        </div>
        <div class="permissions__right">

        </div>
      </div>
      <div class="swiper-outside-wrap">
        <div class="swiper swiperCertificates">
          <div class="swiper-wrapper">
            <div class="swiper-slide">
              <img src="img/cert.png" alt="">
            </div>
            <div class="swiper-slide">
              <img src="img/cert.png" alt="">
            </div>
            <div class="swiper-slide">
              <img src="img/cert.png" alt="">
            </div>
            <div class="swiper-slide">
              <img src="img/cert.png" alt="">
            </div>
            <div class="swiper-slide">
              <img src="img/cert.png" alt="">
            </div>
            <div class="swiper-slide">
              <img src="img/cert.png" alt="">
            </div>
            <div class="swiper-slide">
              <img src="img/cert.png" alt="">
            </div>
            <div class="swiper-slide">
              <img src="img/cert.png" alt="">
            </div>
          </div>
          <div class="swiper-pagination"></div>
        </div>
        <div class="swiperCertificates__button-prev button-prev"></div>
        <div class="swiperCertificates__button-next button-next"></div>
      </div>
    </div>
  </div>
</section>