<div class="section-partners">
    <div class="partners-block">
      @@include('../page-blocks/_header-title.html',{
      "text":"Наши клиенты",
      "modifyTitle":"",
      "textLink":"",
      "link":"#",
      "modifyLinkBlock":"none",
      })

      <div class="partners-block__list scroll" data-scroll>

        <div class="partners-logo" href="#">
          <img src="img/partners-logo/image1.png">
        </div>
        <div class="partners-logo" href="#">
          <img src="img/partners-logo/image2.png">
        </div>
        <div class="partners-logo" href="#">
          <img src="img/partners-logo/image3.png">
        </div>
        <div class="partners-logo" href="#">
          <img src="img/partners-logo/image4.png">
        </div>
        <div class="partners-logo" href="#">
          <img src="img/partners-logo/image5.png">
        </div>
        <div class="partners-logo" href="#">
          <img src="img/partners-logo/image6.png">
        </div>
        <div class="partners-logo" href="#">
          <img src="img/partners-logo/image1.png">
        </div>
        <div class="partners-logo" href="#">
          <img src="img/partners-logo/image4.png">
        </div>
        <div class="partners-logo" href="#">
          <img src="img/partners-logo/image5.png">
        </div>
        <div class="partners-logo" href="#">
          <img src="img/partners-logo/image6.png">
        </div>
        <div class="partners-logo" href="#">
          <img src="img/partners-logo/image1.png">
        </div>
      </div>
    </div>
</div>