<section class="reviews-sections">
    <div class="reviews-block">
        <div class="container">
            <div class="row">
            @@include('../page-blocks/_header-title.html',{
            "text":"Отзывы",
            "modifyTitle":"",
            "textLink":"",
            "link":"#",
            "modifyLinkBlock":"none",
            })
            <div id="carouselExampleCaptions" class="carousel slide">
                <div class="carousel-indicators">
                    <div class="carousel-indicators-dots">
                        <div class="indicators-dots scroll" data-scroll>
                            <button type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide-to="0"
                                    class="active"
                                    aria-current="true" aria-label="Slide 1">

                                <svg class="img">
                                    <use xlink:href="img/sprite.svg#dots1"></use>
                                </svg>
                            </button>
                            <button type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide-to="1"
                                    aria-label="Slide 2">
                                <svg class="img">
                                    <use xlink:href="img/sprite.svg#dots1"></use>
                                </svg>
                            </button>
                            <button type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide-to="2"
                                    aria-label="Slide 3">
                                <svg class="img">
                                    <use xlink:href="img/sprite.svg#dots1"></use>
                                </svg>
                            </button>
                            <button type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide-to="3"
                                    aria-label="Slide 4">
                                <svg class="img">
                                    <use xlink:href="img/sprite.svg#dots1"></use>
                                </svg>
                            </button>
                            <button type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide-to="4"
                                    aria-label="Slide 5">
                                <svg class="img">
                                    <use xlink:href="img/sprite.svg#dots1"></use>
                                </svg>
                            </button>
                            <button type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide-to="5"
                                    aria-label="Slide 6">
                                <svg class="img">
                                    <use xlink:href="img/sprite.svg#dots1"></use>
                                </svg>
                            </button>
                            <button type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide-to="6"
                                    aria-label="Slide 7">
                                <svg class="img">
                                    <use xlink:href="img/sprite.svg#dots1"></use>
                                </svg>
                            </button>
                        </div>
                    </div>
                    <div class="carousel-indicators-items">
                        <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleCaptions"
                                data-bs-slide="next">
                            <svg class="img">
                                <use xlink:href="img/sprite.svg#arrow"></use>
                            </svg>
                        </button>
                    </div>
                </div>
                <div class="carousel-inner-block">
                    <div class="carousel-inner">
                        <div class="carousel-item active">
                            <h5 class="item-title">Руководитель проекта ООО “ФГК-ГРУПП”</h5>
                            <p class="item-name">Илья Кузин</p>
                            <p class="item-descriptions">От лица компании ООО “ФГК-ГРУПП” выражаем благодарность за
                                разработку красивого, качественного, приятно в обращении сайта. Хотим отметить скорость
                                исполнения - от подачи заявки до сдачи нам готового продукта прошло не более 10
                                дней.</p>
                        </div>
                        <div class="carousel-item">
                            <h5 class="item-title">Руководитель проекта ООО “ФГК-ГРУПП”</h5>
                            <p class="item-name">Илья Кузин</p>
                            <p class="item-descriptions">От лица компании ООО “ФГК-ГРУПП” выражаем благодарность за
                                разработку красивого, качественного, приятно в обращении сайта. Хотим отметить скорость
                                исполнения - от подачи заявки до сдачи нам готового продукта прошло не более 10
                                дней.</p>
                        </div>
                        <div class="carousel-item">
                            <h5 class="item-title">Third slide label</h5>
                            <p class="item-descriptions">Some representative placeholder content for the third
                                slide.</p>
                        </div>
                        <div class="carousel-item">
                            <h5 class="item-title">Руководитель проекта ООО “ФГК-ГРУПП”</h5>
                            <p class="item-name">Илья Кузин</p>
                            <p class="item-descriptions">От лица компании ООО “ФГК-ГРУПП” выражаем благодарность за
                                разработку красивого, качественного, приятно в обращении сайта. Хотим отметить скорость
                                исполнения - от подачи заявки до сдачи нам готового продукта прошло не более 10
                                дней.</p>
                        </div>
                        <div class="carousel-item">
                            <h5 class="item-title">Руководитель проекта ООО “ФГК-ГРУПП”</h5>
                            <p class="item-name">Илья Кузин</p>
                            <p class="item-descriptions">От лица компании ООО “ФГК-ГРУПП” выражаем благодарность за
                                разработку красивого, качественного, приятно в обращении сайта. Хотим отметить скорость
                                исполнения - от подачи заявки до сдачи нам готового продукта прошло не более 10
                                дней.</p>
                        </div>
                        <div class="carousel-item">
                            <h5 class="item-title">Third slide label</h5>
                            <p class="item-descriptions">Some representative placeholder content for the third
                                slide.</p>
                        </div>
                        <div class="carousel-item">
                            <h5 class="item-title">Third slide label</h5>
                            <p class="item-descriptions">Some representative placeholder content for the third
                                slide.</p>
                        </div>
                    </div>
                </div>
            </div>

            <div class="reviews-block__link">
                @@include('../bem-blocks/_link.html',{
                "text":"Перейти в раздел",
                "link":"#",
                })
            </div>
            </div>
        </div>
    </div>
</section>