@font-face {
  font-family: 'HelveticaNeueCyr';
  src: url('../../fonts/HelveticaNeueCyr/HelveticaNeueCyr-Roman.eot');
  src: local('HelveticaNeueCyr-Roman'),
  url('../../fonts/HelveticaNeueCyr/HelveticaNeueCyr-Roman.eot?#iefix') format('embedded-opentype'),
  url('../../fonts/HelveticaNeueCyr/HelveticaNeueCyr-Roman.woff') format('woff'),
  url('../../fonts/HelveticaNeueCyr/HelveticaNeueCyr-Roman.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'HelveticaNeueCyr';
  src: url('../../fonts/HelveticaNeueCyr/HelveticaNeueCyr-Bold.eot');
  src: local('HelveticaNeueCyr-Bold'),
  url('../../fonts/HelveticaNeueCyr/HelveticaNeueCyr-Bold.eot?#iefix') format('embedded-opentype'),
  url('../../fonts/HelveticaNeueCyr/HelveticaNeueCyr-Bold.woff') format('woff'),
  url('../../fonts/HelveticaNeueCyr/HelveticaNeueCyr-Bold.ttf') format('truetype');
  font-weight: bold;
  font-style: normal;
}

@font-face {
  font-family: 'HelveticaNeueCyr';
  src: url('../../fonts/HelveticaNeueCyr/HelveticaNeueCyr-Medium.eot');
  src: local('HelveticaNeueCyr-Medium'),
  url('../../fonts/HelveticaNeueCyr/HelveticaNeueCyr-Medium.eot?#iefix') format('embedded-opentype'),
  url('../../fonts/HelveticaNeueCyr/HelveticaNeueCyr-Medium.woff') format('woff'),
  url('../../fonts/HelveticaNeueCyr/HelveticaNeueCyr-Medium.ttf') format('truetype');
  font-weight: 500;
  font-style: normal;
}

@font-face {
  font-family: 'HelveticaNeueCyr';
  src: url('../../fonts/HelveticaNeueCyr/HelveticaNeueCyr-Light.eot');
  src: local('HelveticaNeueCyr-Light'),
  url('../../fonts/HelveticaNeueCyr/HelveticaNeueCyr-Light.eot?#iefix') format('embedded-opentype'),
  url('../../fonts/HelveticaNeueCyr/HelveticaNeueCyr-Light.woff') format('woff'),
  url('../../fonts/HelveticaNeueCyr/HelveticaNeueCyr-Light.ttf') format('truetype');
  font-weight: 300;
  font-style: normal;
}

@font-face {
  font-family: 'Kenyan Coffee Rg';
  src: url('../../fonts/kenyan-coffee/KenyanCoffeeRg-Regular.eot');
  src: local('KenyanCoffeeRg-Regular'),
  url('../../fonts/kenyan-coffee/KenyanCoffeeRg-Regular.woff2') format('woff2'),
  url('../../fonts/kenyan-coffee/KenyanCoffeeRg-Regular.woff') format('woff'),
  url('../../fonts/kenyan-coffee/KenyanCoffeeRg-Regular.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Gilroy-Medium';
  src: url('../../fonts/gilroy/gilroy-medium.eot'); /* IE 9 Compatibility Mode */
  src: url('../../fonts/gilroy/gilroy-medium.eot?#iefix') format('embedded-opentype'), /* IE < 9 */
  url('../../fonts/gilroy/gilroy-medium.woff2') format('woff2'), /* Super Modern Browsers */
  url('../../fonts/gilroy/gilroy-medium.woff') format('woff'), /* Firefox >= 3.6, any other modern browser */
  url('../../fonts/gilroy/gilroy-medium.ttf') format('truetype'), /* Safari, Android, iOS */
  url('../../fonts/gilroy/gilroy-medium.svg#gilroy-medium') format('svg'); /* Chrome < 4, Legacy iOS */
}

@mixin h1 {
  font-family: 'Mulish', sans-serif;
  font-size: 40px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;

  @media (min-width: 992px) {
    font-size: 80px;
  }
}

@mixin h2 {
  font-family: 'Mulish', sans-serif;
  font-size: 30px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;

  @media (min-width: 992px) {
    font-size: 50px;
  }
}

@mixin h3 {
  font-family: 'Mulish', sans-serif;
  font-size: 25px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;

  @media (min-width: 992px) {
    font-size: 30px;
  }
}

@mixin navigation {
  font-family: 'Mulish', sans-serif;
  font-size: 17px;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
}

@mixin text16 {
  font-family: 'Mulish', sans-serif;
  font-size: 16px;
  font-style: normal;
  font-weight: 300;
  line-height: normal;
  font-variant: small-caps;
}

@mixin quotation {
  font-family: 'Mulish', sans-serif;
  font-size: 20px;
  font-style: normal;
  font-weight: 300;
  line-height: normal;

  @media (min-width: 992px) {
    font-size: 42px;
  }
}

@mixin primaryText {
  font-family: 'Mulish', sans-serif;
  font-size: 20px;
  font-style: normal;
  font-weight: 500;
  line-height: 140%;
}
