.modal {
  padding: 0 !important;
  background-color: var(--base-color-white);
  will-change: opacity;
  $btn-close-color: #08021a;

  .modal-dialog {
    width: 100%;
    max-width: 100%;
    margin: 0;
    padding: 0;
    height: 100%;
    background-color: var(--bs-modal-bg);
    will-change: transform;
  }

  .modal-content {
    border-radius: 0;
    border: 0;
  }

  .modal-footer {
    border: 0;
    padding: 20px;
    justify-content: flex-start;

    .link {
      display: block;
      font-size: 17px;
      font-weight: 600;
      color: var(--base-color-font);
      margin-bottom: 25px;
    }
  }

  .modal-header {
    border: 0;
    padding: 20px 20px 0;

    .btn-close {
      --bs-btn-close-color: var(--base-color-font);
      width: 25px;
      height: 25px;

      &:hover {
        --bs-btn-close-color: var(--base-color-font);
      }
    }
  }

  .modal-body {
    padding: 20px;
  }

  .tag-block {

    .tag-block__title {
      text-align: center;
      font-size: 30px;
    }
  }

  &.confirm {

    .modal-dialog {
      width: 940px;
      margin: 30px auto;
      border-radius: 20px;
      height: 75vh;
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);

      @media (max-width: 1399px) {
        width: 720px;
        height: 85vh;
      }

      @media (max-width: 743px) {
        width: 360px;
        height: 85vh;
        max-height: 520px;
      }
    }

    .title {
      width: 62%;
      font-size: 54px;

      @media (max-width: 1399px) {
        text-align: center;
        width: 100%;
      }

      @media (max-width: 743px) {
        font-size: 32px;
      }
    }

    .modal-content {
      border-radius: 20px;
      background: url("../../img/modal-bg-man.png") right bottom no-repeat, url("../../img/modal-bg-sky.png") center center/cover no-repeat;
      width: 100%;
      height: 100%;

      @media (max-width: 1399px) {
        background: url("../../img/modal-bg-man-tablet.png") center bottom no-repeat, url("../../img/modal-bg-sky.png") center center/cover no-repeat;
      }

      @media (max-width: 743px) {
        background: url("../../img/modal-bg-man-mobile.png") center bottom no-repeat, url("../../img/modal-bg-sky.png") center center/cover no-repeat;
      }

      .modal-body {

        @media (max-width: 743px) {
          padding-left: 5px;
          padding-right: 5px;
        }
      }
    }
  }

  &.video-play {

    .contact-block {
      width: 100%;
      height: 75vh;
      min-height: 500px;

      iframe {
        width: 100%;
        height: 100%;
      }
    }
  }

  &.feedback {
    background-color: var(--base-color-white);

    .modal-body {
      padding-top: 10px;
    }

    .contact-block {
      display: flex;
      justify-content: center;
    }

    .title {
      text-align: center;
    }

    p {
      text-align: center;
    }

    .questions__form {
      width: 100%;
      margin: 0;
    }
  }

  &.calculator,
  &.callback {
    background-color: var(--base-color-white);

    .contact-block {
      position: relative;
      z-index: 2;

      &__title {
        padding-bottom: 35px;
        font-size: 27px;
        font-family: 'HelveticaNeueCyr';
        font-weight: 500;

        @media (max-width: 743px) {
          font-size: 20px;
        }
      }
    }

    .modal-form-wrap {
      display: flex;
      gap: 20px;
      width: 100%;
      justify-content: space-between;

      @media (max-width: 743px) {
        flex-direction: column;
      }
    }

    .callback__form {
      border: 1px solid #9E9E9E;
      border-radius: 20px;
      padding: 25px;
      flex-basis: 70%;

      @media (max-width: 743px) {
        padding: 10px;
        flex-basis: 100%;
      }
    }

    .complete {
      display: flex;
      justify-content: space-between;
      font-size: 20px;
      color: #4A4A4A;
      font-family: 'HelveticaNeueCyr';
      margin-bottom: 10px;
    }

    .progressbar {
      height: 11px;
      position: relative;
      background: #EFEFEF;
      border-radius: 20px;
      margin-bottom: 30px;
    }

    .progressbar > span {
      display: block;
      height: 100%;
      background-color: #70C0FF;
      position: relative;
      overflow: hidden;
      border-radius: 20px
    }

    .tab {

      &__title {
        font-family: 'HelveticaNeueCyr';
        font-size: 20px;
        color: #4A4A4A;
        margin-bottom: 15px;
      }

      &__info {
        display: flex;
        flex-wrap: wrap;

        &.roof {
          display: flex;
          gap: 22px;
          flex-wrap: wrap;

          .roof__item {
            cursor: pointer;
            width: calc((100% - 44px) / 3);
            display: flex;
            justify-content: space-between;
            flex-direction: column;
            align-items: center;
            gap: 15px;

            @media (max-width: 743px) {
              width: calc((100% - 22px) / 2);
            }

            .pic {
              border-radius: 20px;
              height: 130px;

              @media (max-width: 743px) {
                height: auto;
              }

              img {
                width: 100%;
              }

            }

            .desc {
              color: #4A4A4A;
              font-size: 18px;
              font-family: 'HelveticaNeueCyr';
            }
          }
        }

        &-final {
          display: flex;
          flex-wrap: wrap;

          .form-field {
            .form-control {
              margin-bottom: 25px;
            }

            &__name {
              margin-right: 25px;
              flex-basis: calc(50% - 13px);
            }

            &__phone {
              flex-basis: calc(50% - 13px);
            }

            &__email,
            &__textarea {
              flex-basis: 100%;
            }

            &__textarea {
              .form-control {
                min-height: 120px;
                border-radius: 20px;
              }
            }
          }
        }
      }

      .get-info {
        display: flex;
        flex-wrap: wrap;

        &__left,
        &__right {
          flex-basis: 50%;
          margin-bottom: 40px;
        }

        &__bottom {
          flex-basis: 100%;

          .radio-list {
            display: flex;
            flex-direction: row;

            .form-field {
              margin-right: 35px;
            }
          }
        }
      }

      &__buttons {
        display: flex;
        justify-content: space-between;
        margin-top: 40px;

        @media (max-width: 743px) {
          flex-direction: column;
          gap: 10px;
        }

        .btn {
          height: 64px;
          font-size: 10px;
          min-width: 181px;

          @media (max-width: 743px) {
            font-size: 16px;
          }
        }
      }

      .form-control {
        background: #EFEFEF;
        padding: 19px 30px;
        font-size: 17px;
        font-family: 'HelveticaNeueCyr';
        color: #4A4A4A;
      }
    }

    .quiz-tab {
      display: none;

      &.active {
        display: block;
      }
    }

    .prize {
      border-radius: 20px;
      background: rgb(48,122,224);
      background: linear-gradient(180deg, rgba(48,122,224,1) 0%, rgba(63,181,235,1) 100%);
      display: flex;
      flex-direction: column;
      padding: 50px 20px;
      justify-content: space-between;
      align-items: center;
      flex-basis: 30%;

      @media (max-width: 743px) {
        flex-basis: 100%;
        padding: 10px;
      }

      .text {
        text-align: center;

        &__title {
          font-weight: bold;
          font-size: 20px;
          color: #ffffff;

          @media (max-width: 743px) {
            font-size: 18px;
          }
        }

        p {
          margin-top: 25px;
          color: #ffffff;
          font-size: 18px;
          font-family: 'HelveticaNeueCyr';

          @media (max-width: 743px) {
            margin-top: 10px;
            font-size: 16px;
          }
        }
      }

      .box {
        align-self: center;

        img {
          width: 100%;
        }
      }
    }

    .tab-1 {

      .tab__buttons {
        justify-content: flex-end;
      }
    }
  }

  &.calculator {

    .calculate-block {
      display: flex;
      flex-wrap: wrap;
      margin-bottom: 30px;
      justify-content: space-between;

      @media (max-width: 743px) {
        flex-direction: column;
      }

      .tab__title {
        flex-basis: 100%;
      }

      .check-list,
      .radio-list {
        display: flex;
        flex-wrap: wrap;

        .form-field {
          width: calc(100% /3);
          padding-right: 30px;
        }
      }

      &__item {
        width: calc(100% /3);
        padding-right: 30px;

        @media (max-width: 743px) {
          width: 100%;
          padding-right: 0;
        }

        .form-field {
          width: 100%;
        }

        .price {
          color: #3FB5EB;
          font-family: 'HelveticaNeueCyr';
          font-weight: 500;
          font-size: 47px;
          display: flex;

          &__num {
            margin-right: 15px;
          }
        }
      }
    }

    .tab__buttons {

      .btn {
        width: 100%;
        font-size: 15px;
        font-weight: bold;
      }
    }
  }
}

.modal-backdrop {
  width: 100%;
  height: 100%;
}

.mobile-menu-block {

  .mobile-menu__list {

    .link {
      display: block;
      font-size: 25px;
      font-weight: 700;
      color: var(--base-color-font);
      margin-bottom: 40px;

      &:hover {
        color: var(--base-color-active);
      }


      @media (min-width: 992px) {
        font-size: 30px;
      }
    }
  }

  .dropdown-nav {

    .link-dropdown {
      display: block;
      font-size: 25px;
      font-weight: 700;
      color: var(--base-color-font);
      padding-top: 20px;
      padding-bottom: 15px;
      text-decoration: none;

      &:hover {
        color: var(--base-color-active);
      }

      @media (min-width: 992px) {
        font-size: 30px;
      }
    }

    .dropdown-nav-item {
      display: flex;
      justify-content: space-between;
      align-items: flex-start;

      .link + .icons {
        margin-top: 10px;
      }

      .icons {
        @include hover-mixin;
        width: 20px;
        height: 20px;
        margin-top: 25px;
        transform: rotate(90deg);

        &.collapsed {
          transform: rotate(0deg);
        }

        svg {
          width: 100%;
          height: 100%;
        }
      }
    }

    .dropdown-nav-collapse {
      position: relative;
      background: var(--base-color-bg);
      margin-bottom: 20px;
      margin-left: -40px;
      margin-right: -40px;
      padding: 0 40px 0 60px;
    }
  }
}

.modal-open {overflow: hidden}

.form-upload {
  display: grid;
  align-items: center;
  width: 80vw;
  min-width: 360px;
}

.upload-zone {
  width: 100%;
  display: flex;
}

.upload-zone_dragover {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 50vh;
  min-height: 300px;
  width: 100%;
  margin-bottom: 25px;
  background: #F5F8F9;
  border-radius: 20px;
  color: #4A4A4A;
  font-weight: 500;
  font-size: 18px;
  place-content: center;
  text-align: center;
  padding: 20px;

  @media (max-width: 743px) {
    height: auto;
    min-height: 250px;
    padding: 10px;
    margin-bottom: 0;
  }
}

.upload-zone_dragover svg {
  width: 10vw;
  margin: auto;
  pointer-events: none;
}

.form-upload__hint {
  margin-top: 10px;
  font-size: 14px;
  font-weight: 400;
}

.upload-zone_dragover._active {
  //color: #c56fff;
  //background-color: #c56fff77;
}

.form-upload__label {
  //display: flex;
  //justify-content: space-between;
  //align-items: center;
  width: 50%;

  @media (max-width: 743px) {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    width: 100%;
  }

}

.form-upload__title {
  margin-right: 55px;
  font-size: 18px;
  font-weight: 500;
}

.form-upload__input {
  font-family: inherit;
  font-size: 18px;
  //width: 50%;
  align-self: center;

  @media (max-width: 743px) {
    font-size: 14px;
  }
}

.form-upload__input::file-selector-button {
  margin-right: 30px;
  border: none;
  border-radius: 50px;
  background: #FF8F64;
  padding: 0 60px;
  font-family: 'HelveticaNeueCyr';
  font-size: 10px;
  font-weight: bold;
  cursor: pointer;
  color: var(--base-color-white);
  height: 64px;
  text-transform: uppercase;
  position: relative;

  @media (max-width: 743px) {
    padding: 0 30px;
  }

  &:after,
  &:before {
    content: '';
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    width: 40px;
    height: 19px;
  }
}

.form-upload__input::file-selector-button:hover {
  //background-color: #c56fff;
}

.form-upload__container {
  width: 360px;
  margin-top: 10px;
  font-size: 16px;
}

.upload-zone_gragover {
  //background-color: #593273;
}

.upload-hint,
.upload-status {
  width: 75%;
}

.upload-hint {
  display: none;
}

.upload-hint_visible {
  display: block;
  pointer-events: none;
}

.upload-loader {
  display: none;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

.upload-loader_visible {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #593273;
}

.upload-loader__image {
  width: 150px;
  height: 150px;
}

@media (max-width: 743px) {

  .form-upload__title {
    display: block;
    margin-right: 0;
  }

  .form-upload__input::file-selector-button {
    min-width: initial;
    margin-right: 10px;
  }
}
