.link {
  @include hover-mixin;

  font-size: 20px;
  font-weight: 600;
  padding: 0;
  color: var(--base-color-active);
  text-decoration: none;

  &:hover,
  &.show,
  &.active {
    color: var(--base-color-font);
  }

  @media (min-width: 992px) {
    font-size: 25px;
  }
}