.navigation-header {
  height: 59px;

  li {
    @include hover-mixin;

    display: flex;
    align-items: center;
    height: 100%;
    font-size: 15px;
    font-weight: 600;
    padding: 0 10px;
    background: transparent;
    color: var(--base-color-font);

    a {
      @include hover-mixin;
      color: var(--base-color-font);
      padding: 0;
      background: transparent;

      &::after {
        display: none;
      }
    }

    &:hover,
    &.show,
    &.active {
      background: var(--base-color-font);

      & > a {
        color: var(--base-color-white);
        background: transparent;
      }
    }
  }

  .dropdown {

    .dropdown {
        position: initial;
      }
  }

  .dropdown-menu {
    border: 1px solid var(--base-color-border);
    background: var(--base-color-bg);
    border-radius: 0;
    padding: 0;
    inset: -1px auto auto -1px !important;

    .dropdown-menu {
      inset: -1px auto auto 100% !important;
      transform: translate(0, 0) !important;
    }

    .dropdown-item {
      padding: 20px 30px;

      &::after {
        display: none;
      }
    }
  }

  @media (min-width: 992px) {
    height: 99px;

    li {
      font-size: 17px;
      padding: 0 15px;
    }
  }

  li.dropdown:hover > ul.dropdown-menu {
    display: block;
    inset: 100% auto auto 0px!important;
  }

  li.dropdown > ul.dropdown-menu > li.dropdown:hover > ul.dropdown-menu{
    display: block;
    inset: 0 auto auto 100%!important
  }
}