@use "sass:math";

.flex-row{
    &#{&}_no-gut{
        margin-right: 0;
        margin-left: 0;
        > .flex-col{
            padding-right: 0; padding-left: 0;
        }
    }
    &#{&}_form{
        margin-right: -5px;
        margin-left: -5px;
        > .flex-col{
            padding-right: 5px;
            padding-left: 5px;
        }
    }

    &_ai-center{
        align-items: center;
    }

    @include media('sm-min', 'sm-max'){
        margin-right: math.div(-$grid-gutter-sm, 2);
        margin-left: math.div(-$grid-gutter-sm, 2);
        .flex-col{
            padding-right: math.div($grid-gutter-sm, 2);
            padding-left: math.div($grid-gutter-sm, 2);
        }
    }
    @include media('xs'){
        margin-right: math.div(-$grid-gutter-xs, 2);
        margin-left: math.div(-$grid-gutter-xs, 2);
        .flex-col{
            padding-right: math.div($grid-gutter-xs, 2);
            padding-left: math.div($grid-gutter-xs, 2);
        }
    }
}

.text-center{
    text-align: center !important;
}
.text-left{
    text-align: left !important;
}
.text-right{
    text-align: right !important;
}

.hidden {
    display: none !important;
}

.unvisible{
    visibility: hidden;
    opacity: 0;
}

.fade {
    opacity: 0;
    transition: opacity math.div($tr-time, 2) $tr-type;
    &.show {
        opacity: 1;
    }
}
.collapse {
    display: none;
    &__wrap {
        padding: 0;
        &_pt{
            padding-top: 15px;
        }
    }
    &.show {
        display: block;
    }
}
.collapsing {
    position: relative;
    height: 0;
    overflow: hidden;
    transition: height $tr-time $tr-type, opacity $tr-time $tr-type, visibility $tr-time $tr-type;
}
.tab-content{
    > .tab-pane {
        display: none;
    }
    > .active {
        display: block;
    }
}

.tab-button.is-active {
    pointer-events: none;
}
.tab-content .box {
    opacity: 0;
    transform: translateY(20px);
    transition: .5s;
}
.tab-content.is-active .box {
    opacity: 1;
    transform: translateY(0px);
}

.menu-open,
.filter-open {
    overflow: hidden;
}

.nx-affix {
    &.fixed {
        position: fixed;
    }
    &.absolute {
        position: absolute;
    }
}

.svg-icons {
    display: block;
    visibility: hidden;
    opacity: 0;
    overflow: hidden;
    width: 0;
    height: 0;
    position: fixed;
    bottom: 0;
    left: 0;
    z-index: -999;
}

.bg-fade{
    position: absolute;
    top: 0;
    left: -1px;
    width: 190px;
    height: 100%;
    z-index: 0;
    background-image: linear-gradient(90deg, rgba(18,18,18,1) 0%, rgba(18,18,18,0) 99%);

    &--r {
        background-image: linear-gradient(270deg, rgba(18,18,18,1) 0%, rgba(18,18,18,0) 99%);
        left: auto;
        right: -1px;
    }
}

//Цвета
.important-color{ color: map_get($content, important-color) !important; }
.success-color{ color: map_get($content, success-color) !important; }
.warning-color{ color: map_get($content, warning-color) !important; }
.error-color{ color: map_get($content, error-color) !important; }
.info-color{ color: map_get($content, info-color) !important; }

[data-load-content], [data-affix-parent]{
    position: relative;
}
[data-custom-scroll], [data-attach-dragger]{
    overflow: hidden;
}
[data-attach-dragger]{
    user-select: none;
    img, a, button{
        pointer-events: none;
    }
}

.menu-bg, .filter-bg{
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: map_get($modal, bg-backdrop);
    z-index: 499;
    transition: all $tr-time $tr-type;
    visibility: hidden;
    opacity: 0;
}

@include media('md-max'){
    .menu-open .menu-bg{
        transform: none;
        visibility: visible;
        opacity: 1;
    }
    .filter-open .filter-bg{
        transform: none;
        visibility: visible;
        opacity: 1;
    }
}

.d-block{
    display: block;
}

.d-sm-none {

    @include media('sm-max') {
        display: none;
    }
}

li {
    font-size: 16px;
    font-weight: 500;
    color: var(--base-color-font);

    @media (min-width: 992px) {
        font-size: 20px;
    }
}

h2 {
    font-size: 30px;
    font-weight: 700;
    color: var(--base-color-font);
    margin-top: 40px;
    margin-bottom: 20px;


    @media (min-width: 992px) {
        font-size: 50px;
        margin-top: 80px;
        margin-bottom: 80px;
    }
}

h3 {
    font-size: 25px;
    font-weight: 400;
    color: var(--base-color-font);
    margin-top: 40px;
    margin-bottom: 20px;


    @media (min-width: 992px) {
        font-size: 30px;
        margin-top: 80px;
        margin-bottom: 35px;
    }
}

.pb-70 {
    padding-bottom: 70px;
}

.title-m-40 {
    margin-top: 40px;
    margin-bottom: 20px;

    @media (min-width: 992px) {
        margin-top: 80px;
        margin-bottom: 40px;
    }
}

.image {
    max-width: 100%;
}

.text-block {
    padding-top: 40px;
    padding-bottom: 60px;

    @media (min-width:768px) {
        padding-bottom: 120px;
    }
}

.mb-20 {
    margin-bottom: 20px;
}

.mb-30 {
    margin-bottom: 30px;
}

.d-flex {
    display: flex;
}

.g-20 {
  gap: 20px;
}