.swiper-outside-wrap {
  width: 100%;
  height: 100%;
  max-width: 1660px;
  margin: 0 auto;
  padding: 0 130px;
  position: relative;

  @media (max-width: 744px) {
    padding: 0 80px;
  }
}

.swiper-pagination {
  bottom: 20px;

  .swiper-pagination-bullet {
    background: #a9acad;
    width: 14px;
    height: 14px;
    margin: 0 6px;

    &-active {
      background: #283032;
    }
  }
}

.button-next,
.button-prev {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  width: 80px;
  height: 80px;
  border-radius: 100%;
  background: #FF8F64;

  @media (max-width: 744px) {
    width: 40px;
    height: 40px;
  }

  &:before {
    content: '';
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 22px;
    height: 35px;
    background: url('../../img/icons/swiper-arrow.svg') no-repeat;

    @media (max-width: 744px) {
      width: 11px;
      height: 18px;
      background-size: cover;
    }
  }
}

.button-next {
  right: 25px;
}

.button-prev {
  left: 25px;

  &:before {
    transform: translate(-50%, -50%) rotate(180deg);
  }

}

.swiper-button-disabled {
  opacity: 0.3;
  cursor: default!important;
}